h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0px 20px 0px;
    padding: 0px;
    word-wrap: break-word;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 8px 0px;
    border-bottom: 1px solid #separator#;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0px 20px 0px;
    padding: 0px;
}

hr {
    border: none;
    height: 1px;
    color: #separator#;
    background-color: #separator#;
    margin-bottom: 1em;
}

pre {
    font-family: 'Consolas', 'Panic Sans', 'Consolas', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #codePre#;
    padding: 5px;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

code {
    font-family: 'Consolas', 'Panic Sans', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
}

a:link, a:visited, a:active {
    color: #hyperlink#;
    text-decoration: none;
    word-break: break-all;
}

a:hover {
    color: #4d5256;
    text-decoration: none;
}

ul {
    margin: 1em 0px 1em 1.5em;
    padding: 0px;
}

ul li, ol li {
    padding: 0px;
    margin: 0px;
}

ol {
    margin: 1em 0px 0em 2em;
    padding: 0px;
}

.gray {
    color: #999;
}

.fade {
    color: #ccc;
}

.bigger {
    font-size: 16px;
}

.small {
    font-size: 11px;
}

.content {
    min-width: 600px;
    max-width: 1100px;
    margin: 0px auto 0px auto;
}

.subtle {
    background-color: #subtle#;
    padding: 5px 10px 0px 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
}

.topic_content {
    font-size: 15px;
    line-height: 1.6;
    color: #topic_content#;
    word-wrap: break-word;
}

.embedded_image {
    max-width: 100%;
    image-orientation: from-image;
}

.markdown_body img {
    max-width: 100%;
}

.markdown_body table {
    padding: 0; border-collapse: collapse; }
.markdown_body table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
.markdown_body table tr:nth-child(2n) {
    background-color: #f8f8f8; }
.markdown_body table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 12px; }
.markdown_body table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 12px; }
.markdown_body table tr th :first-child, .markdown_body table tr td :first-child {
    margin-top: 0; }
.markdown_body table tr th :last-child, .markdown_body table tr td :last-child {
    margin-bottom: 0; }

body {
    background-color: #background#;
}

img {
    max-width: 100%;
}

.imgly {
    max-width: 100%;
}

.markdown_body>p>img {
    max-width: 100%;
}



